<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sneaker</title>
</head>
<body>
  <%- include ('../partials/nav') %>
  <h2>Checkout</h2>
  <%for (let i= 0; i < cartItems.length; i++){%>
    <div class="card" style="width: 18rem;">
      <img src="<%=cartItems[i].product.imgURL%>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=cartItems[i].product.name%></h5>
        <p class="card-text"><%=cartItems[i].product.price%></p>
        <p class="card-text"><%=cartItems[i].size%></p>
        
        <form action="/products/<%=cartItems[i]._id%>?_method=PUT" method="POST">
          <input name="quantity" placeholder="<%=cartItems[i].quantity%>" type="number">
          <button class="btn btn-primary">Change</button>
        </form>
        <form action="/lineItem/<%=cartItems[i]._id%>?_method=DELETE" method="POST">
          <button class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>
    <%}%>
    <form action="/products/emptyCart?_method=DELETE" method="POST">
      <button class="btn btn-primary">Purchase All</button>
    </form>
    <%- include ('../partials/footer') %>
</body>
</html>