<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sneaker</title>
</head>
<body>
 
  <%- include ('../partials/nav') %>
  <h2>Checkout</h2>
    <div class="card" style="width: 18rem;">
      <img src="<%=cartItem.product.imgURL%>" class="card-img-top" alt="...">
      <div class="card-body">
       
        <h5 class="card-title"><%=cartItem.product.name%></h5>
        <p class="card-text"><%=cartItem.product.price%></p>
        <p class="card-text"><%=cartItem.size%></p>
        <p class="card-text"><%=cartItem.quantity%></p>
        <form action="/lineItem/<%=cartItem._id%>?_method=DELETE" method="POST">
          <button class="btn btn-primary">Delete</button>
        </form>
        
      </div>
    </div>
    <%- include ('../partials/footer') %>
</body>
</html>