<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Shoes</title>
</head>
<body>
  <%- include ('../partials/nav') %>
  <section class="wrapper">
    <h2 class="pageTitle">Shoes</h2>
  <div class="productCards">
    <%for (let i= 0; i < products.length; i++){%>
      <div class="card">
        <a href="/products/sneakers/<%=products[i]._id%>">
            <div class="card-img">
              <img src="<%=products[i].imgURL%>" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><%=products[i].name%></h5>
              <p class="card-text"><%=products[i].price%>CAD</p>
            </div>
        </a>
      </div>
     <%}%>
  </div>
</section>
<%- include ('../partials/footer') %>

</body>
</html>